image: Visual Studio 2017 # required to install pybind11 (celerite dependency)

build: false

environment:
  matrix:
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda
    - PYTHON_VERSION: 3.6
      MINICONDA: C:\Miniconda3
    - PYTHON_VERSION: 3.7
      MINICONDA: C:\Miniconda3

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%MINICONDA%\\Library\\bin;%PATH%"
  - "ECHO %PATH%"
  - where conda
  - conda config --set always_yes yes --set changeps1 no
  - "conda create -q -n test-environment python=%PYTHON_VERSION% numpy scipy astropy pytest pytest-cov pytest-remotedata matplotlib tqdm requests pybind11"
  - activate test-environment
  - conda install -c conda-forge celerite
  - pip install oktopus
  - pip install sphinx_rtd_theme
  - pip install bs4
  - pip install astroquery
  - pip install codecov
  - pip install numpydoc
  - pip install scikit-learn
  - python setup.py develop

test_script:
  - pytest --remote-data
