[tool.poetry]
name = "lightkurve"
version = "2.0b3"
description = "A friendly package for Kepler & TESS time series analysis in Python."
license = "MIT"
authors = ["Geert Barentsen <hello@geert.io>"]
readme = "README.rst"
homepage = "https://docs.lightkurve.org"
repository = "https://github.com/KeplerGO/lightkurve"
keywords = ["NASA", "Kepler", "TESS", "Astronomy"]
classifiers = [
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
]

[tool.poetry.dependencies]
python = "^3.6"
numpy = ">=1.11"
astropy = ">=4.1"
scipy = ">=0.19.0"
matplotlib = ">=1.5.3"
astroquery = ">=0.3.10"
oktopus = "^0.1.2"
beautifulsoup4 = "^4.6.0"
requests = "^2.25.0"
tqdm = ">=4.25.0"
pandas = "^1.1.4"
uncertainties = "^3.1.4"
patsy = ">=0.5.0"
fbpca = ">=1.0"
numba = ">=0.39.0"
bokeh = ">=1.0"
ipython = ">=6.0.0"

[tool.poetry.dev-dependencies]
jupyterlab = "^2.0.0"
black = "^20.8b1"
flake8 = "^3.8.4"
mypy = "^0.790"
isort = "^5.6.4"
pytest = "^6.1.2"
pytest-cov = "^2.10.1"
pytest-remotedata = "^0.3.2"
pytest-doctestplus = "^0.8.0"
pytest-xdist = "^2.1.0"

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
