/* Index page lead text */

.frontpage > h1 {
    font-size: 4.2em;
    font-weight: 500;
}

.frontpage > p:nth-of-type(1) {
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
