interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22kplr011904151%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22cb7b768d-3507-4c63-8fa3-53ad7674a246%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr011904151","target_classification":null,"obs_id":"kplr011904151_lc_Q111111110111011101","s_ra":285.679391,"s_dec":50.2413,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54953.0375,"t_max":56423.510416666664,"t_exptime":1800,"em_min":418.4,"em_max":905,"obs_title":"Kepler
        Key Project","t_obs_release":null,"proposal_id":"EX","proposal_type":"Kepler","sequence_number":-999,"s_region":"POLYGON
        ICRS 285.67591655 50.24352200 285.67591688 50.23907800 285.68286512 50.23907800
        285.68286545 50.24352200","jpegURL":"http://archive.stsci.edu/missions/kepler/previews/0119/011904151/kplr011904151-2013011073258_llc_bw_large.png","dataURL":"http://archive.stsci.edu/missions/kepler/lightcurves/0119/011904151/kplr011904151_lc_Q111111110111011101.tar","dataRights":"PUBLIC","mtFlag":null,"srcDen":5885,"obsid":582316,"objID":809194},{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr011904151","target_classification":null,"obs_id":"kplr011904151_sc_Q001313330333033302","s_ra":285.679391,"s_dec":50.2413,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54953.0375,"t_max":56423.510416666664,"t_exptime":60,"em_min":418.4,"em_max":905,"o[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%22582316%2C601036%2C31330822%2C31382993%2C31413686%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2287aeced8-96e6-4734-a37b-2ee074cda4a0%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":31330822,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_cor-filt-inp","description":"Preview-Full","type":"C","dataURI":"mast:HLSP/kepseismic/011900000/04151/80d-filter/hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_preview.png","productType":"PREVIEW","productGroupDescription":null,"productSubGroupDescription":null,"productDocumentationURL":null,"project":"KEPSEISMIC","prvversion":"6.1","proposal_id":null,"productFilename":"hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_preview.png","size":91355,"parent_obsid":31330822,"dataRights":"PUBLIC","calib_level":4,"filters":"KEPLER"},{"obsID":31330822,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_cor-filt-inp","description":"FITS","type":"C","dataURI":"mast:HLSP/kepseismic/011900000/04151/80d-filter/hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_cor-filt-inp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescript[...]
