interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22ktwo228162462%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22K2%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%229%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22d255e4c2-aa2f-4bd5-b57b-328134e335f1%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"K2","provenance_name":"K2","instrument_name":"Kepler","project":"K2","filters":"KEPLER","wavelength_region":"Optical","target_name":"ktwo228162462","target_classification":null,"obs_id":"ktwo228162462-c92_sc","s_ra":271.886955,"s_dec":-15.963038,"dataproduct_type":"timeseries","proposal_pi":null,"calib_level":2,"t_min":57530.62412957,"t_max":57571.94087509,"t_exptime":60,"em_min":420,"em_max":910,"obs_title":null,"t_obs_release":57666,"proposal_id":null,"proposal_type":null,"sequence_number":9,"s_region":"CIRCLE
        ICRS 271.88695500 -15.96303800 0.00111111","jpegURL":null,"dataURL":"mast:K2/url/missions/k2/target_pixel_files/c92/228100000/62000/ktwo228162462-c92_spd-targ.fits.gz","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":664801,"objID":63828624},{"intentType":"science","obs_collection":"K2","provenance_name":"K2","instrument_name":"Kepler","project":"K2","filters":"KEPLER","wavelength_region":"Optical","target_name":"ktwo228162462","target_classification":null,"obs_id":"ktwo228162462-c92_lc","s_ra":271.886955,"s_dec":-15.963038,"dataproduct_type":"timeseries","proposal_pi":null,"calib_level":2,"t_min":57530.62412963,"t_max":57571.94087509,"t_exptime":1800,"em_min":420,"em_max":910,"obs_title":null,"t_obs_release":57666,"propos[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%22664801%2C667723%2C23793883%2C23796054%2C30543717%2C30544640%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2256d768b5-175c-45fe-ae6c-81176a5874d3%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":30543717,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_k2sff_k2_lightcurve_228162462-c91_kepler_v1_llc","description":"Image","type":"S","dataURI":"mast:HLSP/k2sff/c91/228100000/62462/hlsp_k2sff_k2_lightcurve_228162462-c91_kepler_v1_correction.png","productType":"AUXILIARY","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"K2SFF","prvversion":"12","proposal_id":"N/A","productFilename":"hlsp_k2sff_k2_lightcurve_228162462-c91_kepler_v1_correction.png","size":11828,"parent_obsid":30543717,"dataRights":"PUBLIC","calib_level":4,"filters":"KEPLER"},{"obsID":30543717,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_k2sff_k2_lightcurve_228162462-c91_kepler_v1_llc","description":"Image","type":"S","dataURI":"mast:HLSP/k2sff/c91/228100000/62462/hlsp_k2sff_k2_lightcurve_228162462-c91_kepler_v1_image.png","productType":"AUXILIARY","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null[...]
[...]
