interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TrES-2b
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TrES-2b
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TrES-2b
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"tres-2b","resolver":"EXO","cached":false,"resolverTime":94,"searchRadius":3.33E-4,"canonicalName":"TrES-2
        b","ra":286.80847916603085,"decl":49.316388888888895}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%2226%22%5D%7D%5D%2C%20%22position%22%3A%20%22286.80847916603085%2C%2049.316388888888895%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22199c1923-4423-4a50-b3e7-ea0a4d510763%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"399860444","target_classification":null,"obs_id":"tess2020160202036-s0026-0000000399860444-0188-s","s_ra":286.808491321665,"s_dec":49.3164141375899,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":59009.76750502,"t_max":59034.63599608,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":59064,"proposal_id":"G022080_G022053_G022062","proposal_type":null,"sequence_number":26,"s_region":"CIRCLE
        ICRS 286.80849132 49.31641414 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2020160202036-s0026-0000000399860444-0188-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":27667416,"objID":70917813,"objID1":70917813,"distance":0},{"intentType":"science","obs_collection":"HLSP","provenance_name":"TASOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"399860444","target_classification":null,"obs_id":"hlsp_tasoc_tess_tpf_tic00399860444-s0026-cam2-ccd1-c0120_tess_v06","s_ra":286.808491321665,"s_dec":49.3164141375899,"dataproduct_type":"timeseries","proposal_pi":"Rasmus
        Handberg","calib_level":4,"t_min":59009.762749996436,"t_max":59034.636796915816,"t_ex[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2227667416%2C101802619%2C33334748%2C32961781%2C103071489%2C80683483%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%226b57fe83-68f9-41dd-8258-731800b3c851%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":32961781,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000399860444-s0026_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0026/target/0000/0003/9986/0444/hlsp_tess-spoc_tess_phot_0000000399860444-s0026_tess_v1_lc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"TESS-SPOC","prvversion":"37","proposal_id":"N/A","productFilename":"hlsp_tess-spoc_tess_phot_0000000399860444-s0026_tess_v1_lc.fits","size":149760,"parent_obsid":32961781,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":32961781,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000399860444-s0026_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0026/target/0000/0003/9986/0444/hlsp_tess-spoc_tess_phot_0000000399860444-s0026_tess_v1_tp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"produc[...]
[...]
