interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22kplr011904151%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22d93c41b5-e812-4e2b-9c4d-66ba132a975d%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr011904151","target_classification":null,"obs_id":"kplr011904151_lc_Q111111110111011101","s_ra":285.679391,"s_dec":50.2413,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54953.0375,"t_max":56423.510416666664,"t_exptime":1800,"em_min":418.4,"em_max":905,"obs_title":"Kepler
        Key Project","t_obs_release":null,"proposal_id":"EX","proposal_type":"Kepler","sequence_number":-999,"s_region":"POLYGON
        ICRS 285.67591655 50.24352200 285.67591688 50.23907800 285.68286512 50.23907800
        285.68286545 50.24352200","jpegURL":"http://archive.stsci.edu/missions/kepler/previews/0119/011904151/kplr011904151-2013011073258_llc_bw_large.png","dataURL":"http://archive.stsci.edu/missions/kepler/lightcurves/0119/011904151/kplr011904151_lc_Q111111110111011101.tar","dataRights":"PUBLIC","mtFlag":null,"srcDen":5885,"obsid":582316,"objID":809194},{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr011904151","target_classification":null,"obs_id":"kplr011904151_sc_Q001313330333033302","s_ra":285.679391,"s_dec":50.2413,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54953.0375,"t_max":56423.510416666664,"t_exptime":60,"em_min":418.4,"em_max":905,"o[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%22582316%2C601036%2C31330822%2C31382993%2C31413686%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%225540cce2-cb9b-4676-8758-1b6baa5bfdf0%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":31330822,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_cor-filt-inp","description":"Preview-Full","type":"C","dataURI":"mast:HLSP/kepseismic/011900000/04151/80d-filter/hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_preview.png","productType":"PREVIEW","productGroupDescription":null,"productSubGroupDescription":null,"productDocumentationURL":null,"project":"KEPSEISMIC","prvversion":"6.1","proposal_id":null,"productFilename":"hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_preview.png","size":91355,"parent_obsid":31330822,"dataRights":"PUBLIC","calib_level":4,"filters":"KEPLER"},{"obsID":31330822,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_cor-filt-inp","description":"FITS","type":"C","dataURI":"mast:HLSP/kepseismic/011900000/04151/80d-filter/hlsp_kepseismic_kepler_phot_kplr011904151-80d_kepler_v1_cor-filt-inp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescript[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cds.unistra.fr/cgi-bin/nph-sesame/SNV?KIC%2011904151
  response:
    body:
      string: "# KIC 11904151\t#Q29641593\n#=Si=Simbad, all IDs (via url):    1     0ms
        (from cache)\n%@ 5506010\n%I.0 Kepler-10\n%C.0 Em*\n%J 285.67942245537670
        +50.24130600481639 = 19:02:43.06 +50:14:28.7\n%J.E [0.0097 0.0105 90] A 2020yCat.1350....0G\n%P
        -18.483 41.382 [0.012 0.013 90] A 2020yCat.1350....0G\n%X 5.3698 [0.0103]
        A 2020yCat.1350....0G\n%V v -98.12 -0.000327 [0.39] A 2018yCat.1345....0G\n%S
        G2V =0.0001A400.0030.0000000000000000 C 2018MNRAS.481.3244G\n%#B 236\n\n\n\n#====Done
        (2026-Mar-13,11:21:57z)====\n"
    headers:
      Content-Type:
      - text/plain
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=285.6794224553767%2C+50.24130600481639
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=285.6794224553767%2C+50.24130600481639
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=285.6794224553767%2C+50.24130600481639
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"285.6794224553767, 50.24130600481639","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 285.6794224553767  +50.24130600481639  J2000","ra":285.6794224553767,"decl":50.24130600481639}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=285.67942179+%2B50.24130576
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=285.67942179+%2B50.24130576
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=285.67942179+%2B50.24130576
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"285.67942179 +50.24130576","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 285.67942179  +50.24130576  J2000","ra":285.67942179,"decl":50.24130576}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=19%3A02%3A43.1+%2B50%3A14%3A28.7
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=19%3A02%3A43.1+%2B50%3A14%3A28.7
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=19%3A02%3A43.1+%2B50%3A14%3A28.7
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"19:02:43.1 +50:14:28.7","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 19:02:43.1  +50:14:28.7  J2000","ra":285.67958333333337,"decl":50.241305555555556}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
