interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22150441810%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%2C%20%22K2%22%2C%20%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22provenance_name%22%2C%20%22values%22%3A%20%5B%22TASOC%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2278b73946-4914-4d0c-a153-efef34c56a85%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"HLSP","provenance_name":"TASOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"150441810","target_classification":null,"obs_id":"hlsp_tasoc_tess_tpf_tic00150441810-s0001-cam4-ccd4-c0120_tess_v05","s_ra":97.712171152672,"s_dec":-61.089259837153,"dataproduct_type":"timeseries","proposal_pi":"Rasmus
        Handberg","calib_level":4,"t_min":58324.7929899575,"t_max":58352.676372430411,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":59687.57994201,"proposal_id":"G011160_G011155_G011188","proposal_type":null,"sequence_number":1,"s_region":"CIRCLE
        ICRS 97.71217115 -61.08925984 0.00111111","jpegURL":null,"dataURL":"mast:HLSP/tasoc/s0001/c0120/0000/0001/5044/1810/hlsp_tasoc_tess_tpf_tic00150441810-s0001-cam4-ccd4-c0120_tess_v05_cbv-lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":79349494,"objID":153443271},{"intentType":"science","obs_collection":"HLSP","provenance_name":"TASOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"150441810","target_classification":null,"obs_id":"hlsp_tasoc_tess_tpf_tic00150441810-s0002-cam4-ccd4-c0120_tess_v05","s_ra":97.712171152672,"s_dec":-61.089259837153,"dataproduct_type":"timeseries","proposal_pi":"Rasmus
        Handberg","calib_level":4,"t_min":58353.60137442936,"t_max":58381.014058986613[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2279349494%2C79399519%2C79431430%2C79462897%2C80928678%2C81705545%2C88530717%2C88822900%2C89395846%2C89785152%2C91624873%2C92511598%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22bb1d8794-06d0-45ba-b597-8e5fa81190aa%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":79349494,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tasoc_tess_tpf_tic00150441810-s0001-cam4-ccd4-c0120_tess_v05","description":"FITS","type":"C","dataURI":"mast:HLSP/tasoc/s0001/c0120/0000/0001/5044/1810/hlsp_tasoc_tess_tpf_tic00150441810-s0001-cam4-ccd4-c0120_tess_v05_cbv-lc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"TASOC","prvversion":"5","proposal_id":"G011160_G011155_G011188","productFilename":"hlsp_tasoc_tess_tpf_tic00150441810-s0001-cam4-ccd4-c0120_tess_v05_cbv-lc.fits","size":1880640,"parent_obsid":79349494,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":79399519,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tasoc_tess_tpf_tic00150441810-s0002-cam4-ccd4-c0120_tess_v05","description":"FITS","type":"C","dataURI":"mast:HLSP/tasoc/s0002/c0120/0000/0001/5044/1810/hlsp_tasoc_tess_tpf_tic00150441810-s0002-cam4-ccd4-c0120_tess_v05_cbv-lc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescripti[...]
