interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%2274534430%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%2C%20%22K2%22%2C%20%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%223c3f3ecf-3d29-4cda-b033-824bbc3510d5%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"74534430","target_classification":null,"obs_id":"tess2021039152502-s0035-0000000074534430-0205-s","s_ra":137.671343850792,"s_dec":-45.0975156469103,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":59254.491154375,"t_max":59279.481682928243,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":59312,"proposal_id":"G03278","proposal_type":null,"sequence_number":35,"s_region":"CIRCLE
        ICRS 137.67134385 -45.09751565 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2021039152502-s0035-0000000074534430-0205-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":60681188,"objID":106821925},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"74534430","target_classification":null,"obs_id":"tess2018206190142-s0001-s0036-0000000074534430","s_ra":137.671343850792,"s_dec":-45.0975156469103,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58516.842669768521,"t_max":59305.491046643518,"t_exptime":120,"e[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2260681188%2C61532806%2C60755586%2C62452515%2C63393959%2C62894767%2C160338121%2C252309298%2C252309300%2C124147737%2C124147749%2C127087813%2C127087818%2C52635998%2C54439529%2C62569485%2C62779614%2C65308616%2C70539802%2C72082641%2C65525723%2C157652962%2C164265384%2C171909467%2C178747030%2C192522097%2C192954719%2C221246339%2C252951763%2C257898973%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22d954c386-b612-4338-b5d4-45fc760236b0%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":52635998,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_qlp_tess_ffi_s0009-0000000074534430_tess_v01_llc","description":"FITS","type":"C","dataURI":"mast:HLSP/qlp/s0009/0000/0000/7453/4430/hlsp_qlp_tess_ffi_s0009-0000000074534430_tess_v01_llc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"QLP","prvversion":null,"proposal_id":"N/A","productFilename":"hlsp_qlp_tess_ffi_s0009-0000000074534430_tess_v01_llc.fits","size":74880,"parent_obsid":52635998,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":52635998,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_qlp_tess_ffi_s0009-0000000074534430_tess_v01_llc","description":"Text","type":"C","dataURI":"mast:HLSP/qlp/s0009/0000/0000/7453/4430/hlsp_qlp_tess_ffi_s0009-0000000074534430_tess_v01_llc.txt","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%220%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%2C%20%22K2%22%2C%20%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22a716851c-579f-462d-808a-5d4436f6ecc0%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[],"fields":[{"name":"intentType","type":"string"},{"name":"obs_collection","type":"string"},{"name":"provenance_name","type":"string"},{"name":"instrument_name","type":"string"},{"name":"project","type":"string"},{"name":"filters","type":"string"},{"name":"wavelength_region","type":"string"},{"name":"target_name","type":"string"},{"name":"target_classification","type":"string"},{"name":"obs_id","type":"string"},{"name":"s_ra","type":"float"},{"name":"s_dec","type":"float"},{"name":"dataproduct_type","type":"string"},{"name":"proposal_pi","type":"string"},{"name":"calib_level","type":"int"},{"name":"t_min","type":"float"},{"name":"t_max","type":"float"},{"name":"t_exptime","type":"float"},{"name":"em_min","type":"float"},{"name":"em_max","type":"float"},{"name":"obs_title","type":"string"},{"name":"t_obs_release","type":"float"},{"name":"proposal_id","type":"string"},{"name":"proposal_type","type":"string"},{"name":"sequence_number","type":"int"},{"name":"s_region","type":"string"},{"name":"jpegURL","type":"string"},{"name":"dataURL","type":"string"},{"name":"dataRights","type":"string"},{"name":"mtFlag","type":"boolean"},{"name":"srcDen","type":"float"},{"name":"obsid","type":"string"},{"name":"objID","type":"string"}],"paging":{"page":0,"pageSize":0,"pagesFiltered":0,"rows":0,"rowsFiltered":0,"rowsTotal":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC+0
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC+0
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC+0
  response:
    body:
      string: '{"resolvedCoordinate":[],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
