interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+8462852
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+8462852
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+8462852
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"kic 8462852","resolver":"KEPLER","cached":false,"resolverTime":3,"searchRadius":3.33E-4,"canonicalName":"KEPLER
        8462852","ra":301.564377,"decl":44.456875}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22provenance_name%22%2C%20%22values%22%3A%20%5B%22spoc%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%2215%22%5D%7D%5D%2C%20%22position%22%3A%20%22301.564377%2C%2044.456875%2C%200.0002777777777777778%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%225dbe7884-7802-4116-b3e6-97cb0cafef3a%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"OPTICAL","target_name":"185336364","target_classification":null,"obs_id":"tess2019226182529-s0015-0000000185336364-0151-s","s_ra":301.564386309848,"s_dec":44.4568864872007,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58710.86623728009,"t_max":58736.911797592591,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":60954,"proposal_id":"G022046","proposal_type":null,"sequence_number":15,"s_region":"CIRCLE
        301.56438631 44.45688649 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2019226182529-s0015-0000000185336364-0151-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":27472891,"objID":1009878640,"objID1":1009878640,"distance":0}],"fields":[{"name":"intentType","type":"string"},{"name":"obs_collection","type":"string"},{"name":"provenance_name","type":"string"},{"name":"instrument_name","type":"string"},{"name":"project","type":"string"},{"name":"filters","type":"string"},{"name":"wavelength_region","type":"string"},{"name":"target_name","type":"string"},{"name":"target_classification","type":"string"},{"name":"obs_id","type":"string"},{"name":"s_ra","type":"float"},{"name":"s_dec","type":"float"},{"name":"dataproduct_type","type":"string"},{"name":"proposal_pi","type":"string"},{"name":"calib_level","type":"int"},{"name":"t_min","type":"float"},{"name":"t_max","type":"float"},{"name":"t_exptime","type":"float"},{"name":"em_min","type":"float"},{"name":"em_max","type":"float"},{"name":"obs_title","type":"string"},{"name":"t_obs_release","type":"float"},{"name":"proposal_id","type":"string"},{"name":"proposal_type","type":"string"},{"name":"sequence_number","type":"int"},{"name":"s_region","type":"string"},{"name":"jpegURL","type":"string"},{"name":"dataURL","type":"string"},{"name":"dataRights","type":"string"},{"name":"mtFlag","type":"boolean"},{"name":"srcDen","type":"float"},{"name":"obsid","type":"string"},{"name":"objID","type":"string"},{"name":"objID1","type":"string"},{"name":"distance","type":"float"}],"paging":{"page":1,"pageSize":50000,"pagesFiltered":1,"rows":1,"rowsFiltered":1,"rowsTotal":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2227472891%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%227cb8838d-190c-45f6-9f1d-e0f56d487b15%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":27472891,"obs_collection":"TESS","dataproduct_type":"timeseries","obs_id":"tess2019226182529-s0015-0000000185336364-0151-s","description":"full
        data validation report","type":"S","dataURI":"mast:TESS/product/tess2019227203528-s0015-s0015-0000000185336364-00245_dvr.pdf","productType":"INFO","productGroupDescription":null,"productSubGroupDescription":"DVR","productDocumentationURL":null,"project":"SPOC","prvversion":"8e4ed473d6","proposal_id":"G022046","productFilename":"tess2019227203528-s0015-s0015-0000000185336364-00245_dvr.pdf","size":17565755,"parent_obsid":27472891,"dataRights":"PUBLIC","calib_level":3,"filters":"TESS"},{"obsID":27472891,"obs_collection":"TESS","dataproduct_type":"timeseries","obs_id":"tess2019226182529-s0015-0000000185336364-0151-s","description":"full
        data validation report (xml)","type":"S","dataURI":"mast:TESS/product/tess2019227203528-s0015-s0015-0000000185336364-00245_dvr.xml","productType":"INFO","productGroupDescription":null,"productSubGroupDescription":"DVR","productDocumentationURL":null,"project":"SPOC","prvver[...]
