interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22273985862%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2265edbfd6-d1c9-4987-b251-a0f0e72bb150%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"273985862","target_classification":null,"obs_id":"tess2018206045859-s0001-0000000273985862-0120-s","s_ra":30.5788356733675,"s_dec":-83.2106104061536,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58324.794825416669,"t_max":58352.677673611113,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58458.5833333,"proposal_id":"N/A","proposal_type":null,"sequence_number":1,"s_region":"CIRCLE
        30.57883567 -83.21061041 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2018206045859-s0001-0000000273985862-0120-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":60831304,"objID":109543338},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"273985862","target_classification":null,"obs_id":"tess2019140104343-s0012-0000000273985862-0144-s","s_ra":30.5788356733675,"s_dec":-83.2106104061536,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58624.455229571759,"t_max":58652.393255659721,"t_exptime":120,[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2260831304%2C65183632%2C65464002%2C45295795%2C47359252%2C53664593%2C53796949%2C59490021%2C59814429%2C63311166%2C63538979%2C63964936%2C64586677%2C78149052%2C79399493%2C80882031%2C65999554%2C84895772%2C108783606%2C186509525%2C199823050%2C200591611%2C201274011%2C201565829%2C213285730%2C240752941%2C302154283%2C329723039%2C342939106%2C345366197%2C352803678%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2277957f1d-3299-4d33-a06f-35359c7126c5%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":45295795,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_qlp_tess_ffi_s0013-0000000273985862_tess_v01_llc","description":"FITS","type":"C","dataURI":"mast:HLSP/qlp/s0013/0000/0002/7398/5862/hlsp_qlp_tess_ffi_s0013-0000000273985862_tess_v01_llc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"QLP","prvversion":null,"proposal_id":"N/A","productFilename":"hlsp_qlp_tess_ffi_s0013-0000000273985862_tess_v01_llc.fits","size":83520,"parent_obsid":45295795,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":45295795,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_qlp_tess_ffi_s0013-0000000273985862_tess_v01_llc","description":"Text","type":"C","dataURI":"mast:HLSP/qlp/s0013/0000/0002/7398/5862/hlsp_qlp_tess_ffi_s0013-0000000273985862_tess_v01_llc.txt","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,[...]
