interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22kplr005112705%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22provenance_name%22%2C%20%22values%22%3A%20%5B%22Kepler%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2223f7b5ab-3db6-4524-8ed6-ca3646aecf3b%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr005112705","target_classification":null,"obs_id":"kplr005112705_lc_Q011111011101110111","s_ra":295.335821,"s_dec":40.20473,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54964.010416666672,"t_max":56423.500694444447,"t_exptime":1800,"em_min":418.4,"em_max":905,"obs_title":"Kepler
        Key Project","t_obs_release":null,"proposal_id":"EX","proposal_type":"Kepler","sequence_number":-999,"s_region":"POLYGON
        ICRS 295.33291155 40.20695200 295.33291174 40.20250800 295.33873026 40.20250800
        295.33873045 40.20695200","jpegURL":"http://archive.stsci.edu/missions/kepler/previews/0051/005112705/kplr005112705-2013098041711_llc_bw_large.png","dataURL":"http://archive.stsci.edu/missions/kepler/lightcurves/0051/005112705/kplr005112705_lc_Q011111011101110111.tar","dataRights":"PUBLIC","mtFlag":null,"srcDen":5885,"obsid":422807,"objID":649685},{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr005112705","target_classification":null,"obs_id":"kplr005112705_sc_Q000100000000000000","s_ra":295.335821,"s_dec":40.20473,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54964.010416666672,"t_max":56423.500694444447,"t_exptime":60,"em_min":418.4,"em_max":905,"obs_title":"Kepler
        Key Project","t_obs_release":null,"proposal_id":"EX","proposal_type":"Kepler","sequence_number":-999,"s_region":"POLYGON
        ICRS 295.33291155 40.20695200 295.33291174 40.20250800 295.33873026 40.20250800
        295.33873045 40.20695200","jpegURL":"http://archive.stsci.edu/missions/kepler/previews/0051/005112705/kplr005112705-2009291181958_slc_bw_large.png","dataURL":"http://archive.stsci.edu/missions/kepler/lightcurves/0051/005112705/kplr005112705_sc_Q000100000000000000.tar","dataRights":"PUBLIC","mtFlag":null,"srcDen":5885,"obsid":602870,"objID":829748}],"fields":[{"name":"intentType","type":"string"},{"name":"obs_collection","type":"string"},{"name":"provenance_name","type":"string"},{"name":"instrument_name","type":"string"},{"name":"project","type":"string"},{"name":"filters","type":"string"},{"name":"wavelength_region","type":"string"},{"name":"target_name","type":"string"},{"name":"target_classification","type":"string"},{"name":"obs_id","type":"string"},{"name":"s_ra","type":"float"},{"name":"s_dec","type":"float"},{"name":"dataproduct_type","type":"string"},{"name":"proposal_pi","type":"string"},{"name":"calib_level","type":"int"},{"name":"t_min","type":"float"},{"name":"t_max","type":"float"},{"name":"t_exptime","type":"float"},{"name":"em_min","type":"float"},{"name":"em_max","type":"float"},{"name":"obs_title","type":"string"},{"name":"t_obs_release","type":"float"},{"name":"proposal_id","type":"string"},{"name":"proposal_type","type":"string"},{"name":"sequence_number","type":"int"},{"name":"s_region","type":"string"},{"name":"jpegURL","type":"string"},{"name":"dataURL","type":"string"},{"name":"dataRights","type":"string"},{"name":"mtFlag","type":"boolean"},{"name":"srcDen","type":"float"},{"name":"obsid","type":"string"},{"name":"objID","type":"string"}],"paging":{"page":1,"pageSize":50000,"pagesFiltered":1,"rows":2,"rowsFiltered":2,"rowsTotal":2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%22422807%2C602870%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22af82c3fb-4dd2-4988-8b65-7f1129770602%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":422807,"obs_collection":"Kepler","dataproduct_type":"timeseries","obs_id":"kplr005112705_lc_Q011111011101110111","description":"Preview-Full","type":"C","dataURI":"mast:KEPLER/url/missions/kepler/previews/0051/005112705/kplr005112705-2013098041711_llc_bw_large.png","productType":"PREVIEW","productGroupDescription":null,"productSubGroupDescription":null,"productDocumentationURL":null,"project":"Kepler","prvversion":null,"proposal_id":"EX","productFilename":"kplr005112705-2013098041711_llc_bw_large.png","size":29554,"parent_obsid":422807,"dataRights":"PUBLIC","calib_level":2,"filters":"KEPLER"},{"obsID":422807,"obs_collection":"Kepler","dataproduct_type":"timeseries","obs_id":"kplr005112705_lc_Q011111011101110111","description":"tar
        file for Target Pixel Long Cadence (TPL) - all quarters","type":"C","dataURI":"mast:KEPLER/url/missions/kepler/target_pixel_files/0051/005112705/kplr005112705_tpf_lc_Q011111011101110111.tar","productType":"SCIENCE","productGroupDescription":null,"productSubGroupDescription":null,"produ[...]
[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+5112705
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+5112705
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+5112705
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"kic 5112705","resolver":"KEPLER","cached":false,"resolverTime":2,"searchRadius":3.33E-4,"canonicalName":"KEPLER
        5112705","ra":295.335821,"decl":40.20473}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
