interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22390021728%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%2C%20%22K2%22%2C%20%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%222cc49676-b63d-40e0-941a-d95336b7a43c%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"390021728","target_classification":null,"obs_id":"tess2019357164649-s0020-0000000390021728-0165-s","s_ra":277.793370193749,"s_dec":56.4174803715529,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58842.00134957,"t_max":58868.32071567,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58893,"proposal_id":"G022062_G022208","proposal_type":null,"sequence_number":20,"s_region":"CIRCLE
        ICRS 277.79337019 56.41748037 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2019357164649-s0020-0000000390021728-0165-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":27242828,"objID":70071947},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"390021728","target_classification":null,"obs_id":"tess2020020091053-s0021-0000000390021728-0167-s","s_ra":277.793370193749,"s_dec":56.4174803715529,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58869.93183008,"t_max":58897.27922193,"t_exptime":120,"em_min":6[...]
[...]
