interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=AU+Mic
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=AU+Mic
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=AU+Mic
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"au mic","resolver":"SIMBAD","cached":true,"resolverTime":342,"cacheDate":"Oct
        27, 2025, 7:10:41 AM","searchRadius":-1.0,"canonicalName":"HD 197481","ra":311.2897187392163,"decl":-31.3408994138447,"objectType":"BYDraV*"}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%2227%22%5D%7D%5D%2C%20%22position%22%3A%20%22311.2897187392163%2C%20-31.3408994138447%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%2251447ce8-754a-40e5-b278-5f1203c308b3%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"OPTICAL","target_name":"441420236","target_classification":null,"obs_id":"tess2020186164531-s0027-0000000441420236-0189-a_fast","s_ra":311.289718192023,"s_dec":-31.3409004606736,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":59035.782535706021,"t_max":59060.1477184375,"t_exptime":20,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":59109,"proposal_id":"G03263_G03273_G03141_G03063_G03205_G03272_G03227_G03228_G03226_G03202","proposal_type":null,"sequence_number":27,"s_region":"CIRCLE
        311.28971819 -31.34090046 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2020186164531-s0027-0000000441420236-0189-a_fast-lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":27797709,"objID":690058115,"objID1":690058115,"distance":0},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"OPTICAL","target_name":"441420236","target_classification":null,"obs_id":"tess2020186164531-s0027-0000000441420236-0189-s","s_ra":311.289718192023,"s_dec":-31.3409004606736,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":59035.782535706021,"t_max":59060.146792511572,"t_exptime":120,"em_min"[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2227797709%2C27810378%2C53665997%2C64189214%2C189064281%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%228d014b4d-f2f0-4a58-8dc7-bca85b47e177%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":53665997,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0027/target/0000/0004/4142/0236/hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_lc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"TESS-SPOC","prvversion":"38","proposal_id":"N/A","productFilename":"hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_lc.fits","size":380160,"parent_obsid":53665997,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":53665997,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0027/target/0000/0004/4142/0236/hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_tp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"produc[...]
[...]
