interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+8462852
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+8462852
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=KIC+8462852
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"kic 8462852","resolver":"KEPLER","cached":false,"resolverTime":4,"searchRadius":3.33E-4,"canonicalName":"KEPLER
        8462852","ra":301.564377,"decl":44.456875}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22t_exptime%22%2C%20%22values%22%3A%20%5B%7B%22min%22%3A%200%2C%20%22max%22%3A%209999%7D%5D%7D%5D%2C%20%22position%22%3A%20%22301.564377%2C%2044.456875%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22e6b2f642-fd71-4cda-8b6d-2d5f78a9174e%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"185336364","target_classification":null,"obs_id":"tess2021204101404-s0041-0000000185336364-0212-a_fast","s_ra":301.564386309848,"s_dec":44.4568864872007,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":59419.490731724538,"t_max":59446.08233138889,"t_exptime":20,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":59477,"proposal_id":"G04231_G04171_G04126","proposal_type":null,"sequence_number":41,"s_region":"CIRCLE
        301.56438631 44.45688649 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2021204101404-s0041-0000000185336364-0212-a_fast-lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":62797038,"objID":117930371,"objID1":117930371,"distance":0},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"TESS
        FFI","target_classification":null,"obs_id":"tess-s0041-2-4","s_ra":302.16243928816948,"s_dec":49.214955773773433,"dataproduct_type":"image","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":59419.48752815972,"t_max":59446.078062384258,"t_exptime":475.199767,"em_min":600,"em_max":1000,"ob[...]
