interactions:
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22target_name%22%2C%20%22values%22%3A%20%5B%22390021728%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%2C%20%22K2%22%2C%20%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22003486d9-6ea9-4f25-89bb-627f5cf88259%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"390021728","target_classification":null,"obs_id":"tess2019357164649-s0020-0000000390021728-0165-s","s_ra":277.793370193749,"s_dec":56.4174803715529,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58842.00134957,"t_max":58868.32071567,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58893,"proposal_id":"G022062_G022208","proposal_type":null,"sequence_number":20,"s_region":"CIRCLE
        ICRS 277.79337019 56.41748037 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2019357164649-s0020-0000000390021728-0165-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":27242828,"objID":70071947},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"390021728","target_classification":null,"obs_id":"tess2020020091053-s0021-0000000390021728-0167-s","s_ra":277.793370193749,"s_dec":56.4174803715529,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58869.93183008,"t_max":58897.27922193,"t_exptime":120,"em_min":6[...]
[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%22212267567%2C212749442%2C229888568%2C27433039%2C232641097%2C27480416%2C41812245%2C42242663%2C43042945%2C43613802%2C79368943%2C79661050%2C94193323%2C95936502%2C97176985%2C97304644%2C97799780%2C127159546%2C130191042%2C198690525%2C198730222%2C235849657%2C237234774%2C258891409%2C262176511%2C279861002%2C297605691%2C377900760%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22373f9165-f616-462f-bc4d-02f4cd50bae3%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":41812245,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000169175503-s0015_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0015/target/0000/0001/6917/5503/hlsp_tess-spoc_tess_phot_0000000169175503-s0015_tess_v1_lc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"TESS-SPOC","prvversion":"30","proposal_id":"N/A","productFilename":"hlsp_tess-spoc_tess_phot_0000000169175503-s0015_tess_v1_lc.fits","size":155520,"parent_obsid":41812245,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":41812245,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000169175503-s0015_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0015/target/0000/0001/6917/5503/hlsp_tess-spoc_tess_phot_0000000169175503-s0015_tess_v1_tp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"produc[...]
