interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=Proxima+Cen
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=Proxima+Cen
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=Proxima+Cen
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"proxima cen","resolver":"SIMBAD","cached":true,"resolverTime":340,"cacheDate":"Oct
        26, 2025, 2:38:22 PM","searchRadius":-1.0,"canonicalName":"NAME Proxima Centauri","ra":217.4289422216058,"decl":-62.6794901890756,"objectType":"HighPM*"}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22provenance_name%22%2C%20%22values%22%3A%20%5B%22spoc%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%2211%22%5D%7D%5D%2C%20%22position%22%3A%20%22217.4289422216058%2C%20-62.6794901890756%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%228162de6d-4809-4555-a9dd-2be3003394ba%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"388857263","target_classification":null,"obs_id":"tess2019112060037-s0011-0000000388857263-0143-s","s_ra":217.429,"s_dec":-62.6795,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58596.293625648148,"t_max":58623.3954687963,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58651.5,"proposal_id":"G011129_G011153_G011180_G011183_G011185_G011231_G011264_G011266","proposal_type":null,"sequence_number":11,"s_region":"CIRCLE
        217.429 -62.6795 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2019112060037-s0011-0000000388857263-0143-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":65149821,"objID":121279801,"objID1":121279801,"distance":0}],"fields":[{"name":"intentType","type":"string"},{"name":"obs_collection","type":"string"},{"name":"provenance_name","type":"string"},{"name":"instrument_name","type":"string"},{"name":"project","type":"string"},{"name":"filters","type":"string"},{"name":"wavelength_region","type":"string"},{"name":"target_name","type":"string"},{"name":"target_classification","type":"string"},{"name":"obs_id","type":"string"},{"name":"s_ra","type":"float"},{"name":"s_dec","type":"float"},{"name":"dataproduct_type","type":"string"},{"name":"proposal_pi","type":"string"},{"name":"calib_level","type":"int"},{"name":"t_min","type":"float"},{"name":"t_max","type":"float"},{"name":"t_exptime","type":"float"},{"name":"em_min","type":"float"},{"name":"em_max","type":"float"},{"name":"obs_title","type":"string"},{"name":"t_obs_release","type":"float"},{"name":"proposal_id","type":"string"},{"name":"proposal_type","type":"string"},{"name":"sequence_number","type":"int"},{"name":"s_region","type":"string"},{"name":"jpegURL","type":"string"},{"name":"dataURL","type":"string"},{"name":"dataRights","type":"string"},{"name":"mtFlag","type":"boolean"},{"name":"srcDen","type":"float"},{"name":"obsid","type":"string"},{"name":"objID","type":"string"},{"name":"objID1","type":"string"},{"name":"distance","type":"float"}],"paging":{"page":1,"pageSize":50000,"pagesFiltered":1,"rows":1,"rowsFiltered":1,"rowsTotal":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2265149821%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22b8aa61c8-c84e-4780-a8f4-fffad4a7fe03%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":65149821,"obs_collection":"TESS","dataproduct_type":"timeseries","obs_id":"tess2019112060037-s0011-0000000388857263-0143-s","description":"full
        data validation report","type":"S","dataURI":"mast:TESS/product/tess2019113062933-s0011-s0011-0000000388857263-00214_dvr.pdf","productType":"INFO","productGroupDescription":null,"productSubGroupDescription":"DVR","productDocumentationURL":null,"project":"SPOC","prvversion":"f38ca04271","proposal_id":"G011129_G011153_G011180_G011183_G011185_G011231_G011264_G011266","productFilename":"tess2019113062933-s0011-s0011-0000000388857263-00214_dvr.pdf","size":21213345,"parent_obsid":65149821,"dataRights":"PUBLIC","calib_level":3,"filters":"TESS"},{"obsID":65149821,"obs_collection":"TESS","dataproduct_type":"timeseries","obs_id":"tess2019112060037-s0011-0000000388857263-0143-s","description":"full
        data validation report (xml)","type":"S","dataURI":"mast:TESS/product/tess2019113062933-s0011-s0011-0000000388857263-00214_dvr.xml","productType":"INFO","productGroupDescription":null,"productSubGroupDescription":"DVR","productDocumentationURL":null,"project":"SPOC","prvver[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=217.429+-62.6795
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=217.429+-62.6795
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=217.429+-62.6795
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"217.429 -62.6795","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 217.429  -62.6795  J2000","ra":217.429,"decl":-62.6795}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
