interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=pi+Mensae
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=pi+Mensae
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=pi+Mensae
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"pi mensae","resolver":"SIMBAD","cached":true,"resolverTime":714,"cacheDate":"Oct
        26, 2025, 2:25:46 PM","searchRadius":-1.0,"canonicalName":"* pi. Men","ra":84.2911951861308,"decl":-80.46912070924,"objectType":"HighPM*"}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%221%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22t_exptime%22%2C%20%22values%22%3A%20%5B%7B%22min%22%3A%200%2C%20%22max%22%3A%209999%7D%5D%7D%5D%2C%20%22position%22%3A%20%2284.2911951861308%2C%20-80.46912070924%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22b3f5ab98-ebb7-46e3-b5bb-9f272042e412%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"261136679","target_classification":null,"obs_id":"tess2018206045859-s0001-0000000261136679-0120-s","s_ra":84.2911879979852,"s_dec":-80.4691197969941,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58324.7940765625,"t_max":58352.676959467593,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58458.5833333,"proposal_id":"G011183_G011132_G011048_G011250","proposal_type":null,"sequence_number":1,"s_region":"CIRCLE
        84.291188 -80.4691198 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2018206045859-s0001-0000000261136679-0120-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":60835895,"objID":110345495,"objID1":110345495,"distance":0},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"TESS
        FFI","target_classification":null,"obs_id":"tess-s0001-4-2","s_ra":89.944651257805333,"s_dec":-75.1362981467764,"dataproduct_type":"image","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58324.81304390046,"t_max":58352.666903854166,"t_exptime":1425.599428,"em_min":600,"em_max":1000,"ob[...]
[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC+206669860
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC+206669860
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC+206669860
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"tic 206669860","resolver":"TIC","cached":false,"resolverTime":16,"searchRadius":3.33E-4,"canonicalName":"TIC
        206669860","ra":343.633040136177,"decl":-34.5027374551463}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=30.578761%2C+-83.210593
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=30.578761%2C+-83.210593
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=30.578761%2C+-83.210593
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"30.578761, -83.210593","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 30.578761  -83.210593  J2000","ra":30.578761,"decl":-83.210593}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=30.578761%2C+6.210593
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=30.578761%2C+6.210593
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=30.578761%2C+6.210593
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"30.578761, 6.210593","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 30.578761  +6.210593  J2000","ra":30.578761,"decl":6.210593}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%224%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22t_exptime%22%2C%20%22values%22%3A%20%5B%7B%22min%22%3A%200%2C%20%22max%22%3A%209999%7D%5D%7D%5D%2C%20%22position%22%3A%20%2230.578761%2C%206.210593%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22dc69da17-335f-4972-a41c-e65846116b7f%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[],"fields":[{"name":"intentType","type":"string"},{"name":"obs_collection","type":"string"},{"name":"provenance_name","type":"string"},{"name":"instrument_name","type":"string"},{"name":"project","type":"string"},{"name":"filters","type":"string"},{"name":"wavelength_region","type":"string"},{"name":"target_name","type":"string"},{"name":"target_classification","type":"string"},{"name":"obs_id","type":"string"},{"name":"s_ra","type":"float"},{"name":"s_dec","type":"float"},{"name":"dataproduct_type","type":"string"},{"name":"proposal_pi","type":"string"},{"name":"calib_level","type":"int"},{"name":"t_min","type":"float"},{"name":"t_max","type":"float"},{"name":"t_exptime","type":"float"},{"name":"em_min","type":"float"},{"name":"em_max","type":"float"},{"name":"obs_title","type":"string"},{"name":"t_obs_release","type":"float"},{"name":"proposal_id","type":"string"},{"name":"proposal_type","type":"string"},{"name":"sequence_number","type":"int"},{"name":"s_region","type":"string"},{"name":"jpegURL","type":"string"},{"name":"dataURL","type":"string"},{"name":"dataRights","type":"string"},{"name":"mtFlag","type":"boolean"},{"name":"srcDen","type":"float"},{"name":"obsid","type":"string"},{"name":"objID","type":"string"},{"name":"objID1","type":"string"},{"name":"distance","type":"float"}],"paging":{"page":0,"pageSize":0,"pagesFiltered":0,"rows":0,"rowsFiltered":0,"rowsTotal":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
