interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=AU+Mic
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=AU+Mic
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=AU+Mic
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"au mic","resolver":"SIMBAD","cached":true,"resolverTime":834,"cacheDate":"Oct
        27, 2025, 7:10:41 AM","searchRadius":-1.0,"canonicalName":"HD 197481","ra":311.2897187392163,"decl":-31.3408994138447,"objectType":"BYDraV*"}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%2C%20%22K2%22%2C%20%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%2C%20%22position%22%3A%20%22311.2897187392163%2C%20-31.3408994138447%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%225c16621d-c76f-4cae-8123-df3353ad19b5%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"441420236","target_classification":null,"obs_id":"tess2018206045859-s0001-0000000441420236-0120-s","s_ra":311.289718192023,"s_dec":-31.3409004606736,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58325.399906342594,"t_max":58352.666054016205,"t_exptime":120,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58458.5833333,"proposal_id":"G011264_G011175_G011180_G011185_G011266_G011176_G011239","proposal_type":null,"sequence_number":1,"s_region":"CIRCLE
        311.28971819 -31.34090046 0.00138889","jpegURL":null,"dataURL":"mast:TESS/product/tess2018206045859-s0001-0000000441420236-0120-s_lc.fits","dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":60835816,"objID":110346828,"objID1":110346828,"distance":0},{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"441420236","target_classification":null,"obs_id":"tess2018206190142-s0001-s0036-0000000441420236","s_ra":311.289718192023,"s_dec":-31.3409004606736,"dataproduct_type":"timeseries","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58324.798517847223,"t_max":59060.146792523148,"t_exptime":120,"em_min":[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%2260835816%2C61536357%2C27797709%2C27810378%2C337311105%2C337311115%2C53665997%2C59638504%2C59796688%2C64189214%2C79394253%2C80777601%2C85842299%2C189064281%2C352987882%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22b8efe48e-d808-46ed-be67-1e392d83b073%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":53665997,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0027/target/0000/0004/4142/0236/hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_lc.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"productDocumentationURL":null,"project":"TESS-SPOC","prvversion":"38","proposal_id":"N/A","productFilename":"hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_lc.fits","size":380160,"parent_obsid":53665997,"dataRights":"PUBLIC","calib_level":4,"filters":"TESS"},{"obsID":53665997,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_tp","description":"FITS","type":"C","dataURI":"mast:HLSP/tess-spoc/s0027/target/0000/0004/4142/0236/hlsp_tess-spoc_tess_phot_0000000441420236-s0027_tess_v1_tp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescription":null,"produc[...]
