interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC41336498
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC41336498
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=TIC41336498
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"tic41336498","resolver":"TIC","cached":false,"resolverTime":7,"searchRadius":3.33E-4,"canonicalName":"TIC
        41336498","ra":92.5120643852306,"decl":-66.5393964214162}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22TESS%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22sequence_number%22%2C%20%22values%22%3A%20%5B%222%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22t_exptime%22%2C%20%22values%22%3A%20%5B%7B%22min%22%3A%200%2C%20%22max%22%3A%209999%7D%5D%7D%5D%2C%20%22position%22%3A%20%2292.5120643852306%2C%20-66.5393964214162%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%224591f7f1-df97-484e-bac3-fcebf51dfb94%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"TESS","provenance_name":"SPOC","instrument_name":"Photometer","project":"TESS","filters":"TESS","wavelength_region":"Optical","target_name":"TESS
        FFI","target_classification":null,"obs_id":"tess-s0002-4-3","s_ra":111.95325465363462,"s_dec":-69.335771406853056,"dataproduct_type":"image","proposal_pi":"Ricker,
        George","calib_level":3,"t_min":58353.6034596875,"t_max":58380.998998912037,"t_exptime":1425.599438,"em_min":600,"em_max":1000,"obs_title":null,"t_obs_release":58458.5833333,"proposal_id":"N/A","proposal_type":null,"sequence_number":2,"s_region":"POLYGON
        134.982279 -69.046182 107.646455 -77.751569 90.544303 -66.585662 114.43844
        -60.90401 134.982279 -69.046182","jpegURL":null,"dataURL":null,"dataRights":"PUBLIC","mtFlag":false,"srcDen":null,"obsid":60902971,"objID":112738923,"objID1":112738923,"distance":0}],"fields":[{"name":"intentType","type":"string"},{"name":"obs_collection","type":"string"},{"name":"provenance_name","type":"string"},{"name":"instrument_name","type":"string"},{"name":"project","type":"string"},{"name":"filters","type":"string"},{"name":"wavelength_region","type":"string"},{"name":"target_name","type":"string"},{"name":"target_classification","type":"string"},{"name":"obs_id","type":"string"},{"name":"s_ra","type":"float"},{"name":"s_dec","type":"float"},{"name":"dataproduct_type","type":"string"},{"name":"proposal_pi","type":"string"},{"name":"calib_level","type":"int"},{"name":"t_min","type":"float"},{"name":"t_max","type":"float"},{"name":"t_exptime","type":"float"},{"name":"em_min","type":"float"},{"name":"em_max","type":"float"},{"name":"obs_title","type":"string"},{"name":"t_obs_release","type":"float"},{"name":"proposal_id","type":"string"},{"name":"proposal_type","type":"string"},{"name":"sequence_number","type":"int"},{"name":"s_region","type":"string"},{"name":"jpegURL","type":"string"},{"name":"dataURL","type":"string"},{"name":"dataRights","type":"string"},{"name":"mtFlag","type":"boolean"},{"name":"srcDen","type":"float"},{"name":"obsid","type":"string"},{"name":"objID","type":"string"},{"name":"objID1","type":"string"},{"name":"distance","type":"float"}],"paging":{"page":1,"pageSize":50000,"pagesFiltered":1,"rows":1,"rowsFiltered":1,"rowsTotal":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
