interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: http://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=297.5835%2C+40.98339
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=297.5835%2C+40.98339
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://mastresolver.stsci.edu/Santa-war/query?outputFormat=json&resolveAll=False&name=297.5835%2C+40.98339
  response:
    body:
      string: '{"resolvedCoordinate":[{"searchString":"297.5835, 40.98339","resolver":"COORDINATES","cached":false,"resolverTime":0,"searchRadius":-1.0,"canonicalName":"Equatorial
        Coord 297.5835  +40.98339  J2000","ra":297.5835,"decl":40.98339}],"status":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Filtered.Position%22%2C%20%22params%22%3A%20%7B%22columns%22%3A%20%22%2A%22%2C%20%22filters%22%3A%20%5B%7B%22paramName%22%3A%20%22project%22%2C%20%22separator%22%3A%20%22%3B%22%2C%20%22values%22%3A%20%5B%22Kepler%22%5D%7D%2C%20%7B%22paramName%22%3A%20%22dataproduct_type%22%2C%20%22values%22%3A%20%5B%22cube%22%2C%20%22timeseries%22%5D%7D%5D%2C%20%22position%22%3A%20%22297.5835%2C%2040.98339%2C%202.777777777777778e-08%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22d611928a-79c7-4e7d-9dbb-ecfed1145509%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"intentType":"science","obs_collection":"Kepler","provenance_name":"Kepler","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"OPTICAL","target_name":"kplr005728079","target_classification":null,"obs_id":"kplr005728079_lc_Q111111111111111111","s_ra":297.58349999999996,"s_dec":40.98339,"dataproduct_type":"timeseries","proposal_pi":"William
        Borucki","calib_level":2,"t_min":54953.0375,"t_max":56423.500694444447,"t_exptime":1800,"em_min":418.4,"em_max":905,"obs_title":"Kepler
        Key Project","t_obs_release":null,"proposal_id":"EX","proposal_type":"Kepler","sequence_number":-999,"s_region":"POLYGON
        ICRS 297.58055646 40.98561200 297.58055666 40.98116800 297.58644334 40.98116800
        297.58644354 40.98561200","jpegURL":"http://archive.stsci.edu/missions/kepler/previews/0057/005728079/kplr005728079-2013098041711_llc_bw_large.png","dataURL":"http://archive.stsci.edu/missions/kepler/lightcurves/0057/005728079/kplr005728079_lc_Q111111111111111111.tar","dataRights":"PUBLIC","mtFlag":null,"srcDen":5885,"obsid":399711,"objID":626589,"objID1":626589,"distance":0},{"intentType":"science","obs_collection":"HLSP","provenance_name":"KEPSEISMIC","instrument_name":"Kepler","project":"Kepler","filters":"KEPLER","wavelength_region":"Optical","target_name":"kplr005728079","target_classification":null,"obs_id":"hlsp_kepseismic_kepler_phot_kplr005728079-80d_kepler_v1_cor-filt-inp","s_ra":297.5835,"s_dec":40.98339,"dataproduct_type":"timeseries","proposal_pi":null,"calib_level":4,"t_min":54953.038686419837,"t_max":56423.49106484,"t_exptime":1800,"em_min":418.4,"e[...]
- request:
    body: request=%7B%22service%22%3A%20%22Mast.Caom.Products%22%2C%20%22params%22%3A%20%7B%22obsid%22%3A%20%22399711%2C31369432%2C31576234%2C186830353%2C31185132%22%7D%2C%20%22format%22%3A%20%22json%22%2C%20%22pagesize%22%3A%2050000%2C%20%22page%22%3A%201%2C%20%22cacheBreaker%22%3A%20%22ad1e1457-f1a7-4d11-9b3d-bfdead197e97%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mast.stsci.edu/api/v0/invoke
  response:
    body:
      string: '{"status" : "COMPLETE","msg" : "","data":[{"obsID":31185132,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_kepseismic_kepler_phot_kplr005728079-20d_kepler_v1_cor-filt-inp","description":"Preview-Full","type":"C","dataURI":"mast:HLSP/kepseismic/005700000/28079/20d-filter/hlsp_kepseismic_kepler_phot_kplr005728079-20d_kepler_v1_preview.png","productType":"PREVIEW","productGroupDescription":null,"productSubGroupDescription":null,"productDocumentationURL":null,"project":"KEPSEISMIC","prvversion":"6.1","proposal_id":null,"productFilename":"hlsp_kepseismic_kepler_phot_kplr005728079-20d_kepler_v1_preview.png","size":129216,"parent_obsid":31185132,"dataRights":"PUBLIC","calib_level":4,"filters":"KEPLER"},{"obsID":31185132,"obs_collection":"HLSP","dataproduct_type":"timeseries","obs_id":"hlsp_kepseismic_kepler_phot_kplr005728079-20d_kepler_v1_cor-filt-inp","description":"FITS","type":"C","dataURI":"mast:HLSP/kepseismic/005700000/28079/20d-filter/hlsp_kepseismic_kepler_phot_kplr005728079-20d_kepler_v1_cor-filt-inp.fits","productType":"SCIENCE","productGroupDescription":"Minimum
        Recommended Products","productSubGroupDescript[...]
